@model IEnumerable<CleanArchitecture.WebUI.Models.VillaNumber>
@{
    ViewData["Title"] = "Index";
}
﻿@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2" localize-content>Room List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="VillaNumber" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> <localize>Create New Room</localize>
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th localize-content>
                        Hotel Name
                    </th>
                    <th localize-content>Room</th>
                    <th localize-content>Speical Details</th>
                    <th></th>
                </tr>
            </thead>
             <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Villa.Name</td>
                        <td>@obj.Villa_Number</td>
                        <td>@obj.SpecialDetails</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="VillaNumber" asp-action="Update" asp-route-villaNumberId="@obj.Villa_Number"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> <localize>Edit</localize>
                                </a>
                                <a asp-controller="VillaNumber" asp-action="Delete" asp-route-villaNumberId="@obj.Villa_Number"
                                   class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i><localize>Delete</localize>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody> 
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if(ViewBag.PageNumber > 1)
                {
                    <li class="page-item"><a class="page-link" href="/VillaNumber/Index?page=@(ViewBag.PageNumber - 1)" localize-content>Previous</a></li>
                }
                @for (int i = 1; i <= ViewBag.TotalCount; i++)
                {
                    <li class="page-item"><a class="page-link" href="/VillaNumber/Index?page=@i">@i</a></li>
                }
                @if (ViewBag.PageNumber < ViewBag.TotalCount)
                {
                    <li class="page-item"><a class="page-link" href="/VillaNumber/Index?page=@(ViewBag.PageNumber + 1)" localize-content>Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>


