@model CleanArchitecture.WebUI.Models.ViewModel.VillaVM
@{
    ViewData["Title"] = "Update";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2" localize-content>Update Hotel</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Villa.Id" hidden />
            <div class="col-10">
                <div class="p-3">
                    <div class="form-floating py-1 col-12">
                        <select asp-for="@Model.Villa.CityId" asp-items="@Model.CityList"
                                class="form-select border shadow">
                            <option disabled selected>--Select City--</option>
                        </select>
                        <label asp-for="Villa.CityId" class="ms-2" localize-content>City</label>
                        <span asp-validation-for="Villa.CityId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Name" class="form-control border shadow" />
                        <label asp-for="Villa.Name" class="ms-2" localize-content>Name</label>
                        <span asp-validation-for="Villa.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Description" class="form-control border shadow" />
                        <label asp-for="Villa.Description" class="ms-2" localize-content>Description</label>
                        <span asp-validation-for="Villa.Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Price" class="form-control border shadow" />
                        <label asp-for="Villa.Price" class="ms-2" localize-content>Price</label>
                        <span asp-validation-for="Villa.Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.SquareFeet" class="form-control border shadow" />
                        <label asp-for="Villa.SquareFeet" class="ms-2" localize-content>SquareFeet</label>
                        <span asp-validation-for="Villa.SquareFeet" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Occupancy" class="form-control border shadow" />
                        <label asp-for="Villa.Occupancy" class="ms-2" localize-content>Occupancy</label>
                        <span asp-validation-for="Villa.Occupancy" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Image" class="form-control border shadow" />
                        <input asp-for="Villa.ImageUrl" hidden class="form-control border shadow" />
                        <label asp-for="Villa.ImageUrl" class="ms-2"></label>
                        <span asp-validation-for="Villa.ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.ImageLocalPath" readonly class="form-control border shadow" />
                        <label asp-for="Villa.ImageLocalPath" class="ms-2"></label>
                        <span asp-validation-for="Villa.ImageLocalPath" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole(Constants.Role_Admin) || User.IsInRole(Constants.Role_Manager))
                    {
                        <div class="form-floating py-1 col-12">
                            <select asp-for="@Model.Villa.UserId" asp-items="@Model.UserList" class="form-select border shadow">
                                <option disabled selected>--Select User--</option>
                            </select>
                            <label asp-for="Villa.UserId" class="ms-2" localize-content>Owner</label>
                            <span asp-validation-for="Villa.UserId" class="text-danger"></span>
                        </div>
                    }
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="bi bi-check-circle"></i>  <localize>Update</localize>
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Villa" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i> <localize>Cancel</localize>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-2">
                <img src="@Model.Villa.ImageUrl" width="100%"
                     style="border-radius:5px; border:1px solid #bbb9b9" />
            </div> 
            
        </form> 
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

